.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

.toggle-switch .toggle-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch__label {
  width: 28px;
  text-align: center;
  padding-top: 1px;
  color: white;
  mix-blend-mode: difference;
  font-size: 14px;
  font-weight: 700;
}

.toggle-switch__slider {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  border-radius: 20px;
}

.toggle-switch__slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: -1px;
  bottom: -2px;
  background-color: black;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch__input:hover + .toggle-switch__slider {
  border-color: black;
}

.toggle-switch__input:checked + .toggle-switch__slider:before {
  transform: translateX(26px);
}
