.profile {
  display: flex;
  align-items: flex-start;
  gap: 116px;
  margin-top: 47px;
}

@media screen and (max-width: 610px) {
  .profile {
    gap: 56px;
  }
}

@media screen and (max-width: 539px) {
  .profile {
    gap: 30px;
  }
}
