.delete-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-item__content {
  background-color: white;
  max-width: 498px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  padding: 60px 0;
}

.delete-item__close {
  position: absolute;
  right: 28px;
  top: 20px;
  z-index: 1;
  background-image: url(../../../public/images/close-button.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
}

.delete-item__header {
  margin: 0;
  text-align: center;
}

.delete-item__delete-btn {
  margin: 40px auto 24px;
  text-align: center;
  color: #ff4d00;
  cursor: pointer;
  width: fit-content;
}

.delete-item__cancel-btn {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

@media screen and (max-width: 649px) {
  .delete-item__content {
    max-width: 343px;
  }

  .delete-item__close {
    right: 13px;
    top: 12px;
  }
}
