.weather {
  position: relative;
  margin: 0 auto 34px;
  max-width: 1360px;
  min-height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather__temp {
  position: absolute;
  left: 16px;
  top: 20px;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: white;
}

.weather__image {
  position: absolute;
  right: -1px;
}
