.app {
  max-width: 1360px;
  padding: 32px 40px;
  margin: auto;
  line-height: 1.2;
}

.main {
  margin: 28px 0;
}

.main__temp-title {
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0 34px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
