@import url(../../vendor/style/cabinet-grotesk.css);

.app {
  max-width: 1360px;
  padding: 32px 40px;
  margin: auto;
  line-height: 1.2;
  font-family: "CabinetGrotesk";
  background-color: #f3f3f3;
  font-weight: 700;
}

@media screen and (max-width: 749px) {
  .app {
    padding: 32px 40px;
  }
}

@media screen and (max-width: 539px) {
  .app {
    padding: 18px 16px;
  }
}
