.main {
  margin: 28px 0;
}

.main__temp-title {
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0 34px;
}

.main__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 539px) {
  .main__card-container {
    gap: 15px;
  }
}
