.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__left-side {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date {
  font-size: 20px;
}

.header__right-side {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__loggedIn,
.header__loggedOut {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__text-button {
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.header__text-button:hover {
  opacity: 0.7;
}

.header__user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__name {
  font-size: 20px;
  margin: 0;
  color: black;
  text-decoration: none;
}

.header__name:hover {
  opacity: 0.7;
}

.header__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__avatar::before {
  content: attr(data-initial);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: white;
}

.header__open {
  display: none;
  width: 44px;
  height: 44px;
}

.header__close {
  display: none;
  position: absolute;
  right: 28px;
  top: 20px;
  z-index: 1;
  background-image: url(../../../public/images/close-button.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .header__open {
    display: block;
  }

  .header__close {
    display: block;
  }

  .header__right-side {
    right: 0px;
    top: 0px;
    z-index: 5;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 12px;
    align-items: center;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: width 0.2s linear, height 0.2s linear;
  }

  .header__right-side_active {
    width: 100%;
    height: 208px;
  }

  .header__left-side {
    flex-direction: column;
    gap: 32px;
    align-items: normal;
  }
}
