.header {
  display: flex;
  justify-content: space-between;
}

.header__left-side {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__right-side {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__add-clothes {
  margin-right: 8px;
  cursor: pointer;
}

.header__add-clothes:hover {
  opacity: 0.7;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
