.sidebar__user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  position: relative;
  width: 56px;
  height: 56px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.sidebar__avatar::before {
  content: attr(data-initial);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.sidebar__name {
  margin: 0;
  font-size: 20px;
}

.sidebar__text-button {
  font-size: 20px;
}

.sidebar__text-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
