.clothessection__cards-header {
  display: flex;
  gap: 20px;
  margin: 16px 0 16px;
}

.clothessection__cards-text {
  margin: 0;
  font-size: 20px;
}

.clothessection__add-garment {
  margin: 0;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.clothessection__cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 539px) {
  .clothessection__cards-header {
    flex-direction: column;
    align-items: center;
  }
  .clothessection__cards-container {
    justify-content: center;
  }
}
